// COLORS
$formCouleur: rgb(255,250,234);


section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-top: 5em;
  margin-bottom: 5em;
}

form{
  position: relative;
  width: auto;
  height: auto;
  background: $formCouleur;
  border: none;
  border-radius: 20px;
  padding: 4em 2em 4em 2em;

  p{
    position: absolute;
    margin-right: 2em;
  }
  h2{
    margin-top: 4em;
    margin-bottom: 1em;
  }

}

.log-btn{
  display: flex;
  justify-content: center;
}

button{
  margin-top: 2em;
  padding: .5em;
  width: 50%;
  border-radius: 10px;
  margin-top: 2em;
  background-color: white;
  align-self: center;
}

.log-inputbox{
  position: relative;
  width: 310px;
  border-bottom: 2px solid black;
}
.log-inputbox input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

textarea{
  margin-top: 2em;
  padding: 0.5em;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
}


.log-inputboxErr {
  border-bottom: 2px solid red;
}
.errorLogin{
  color: red;
}

.decoP{
  position: relative;
  padding: 4em;
  margin: 2em;
  background-color:  $formCouleur;
  border-radius: 20px;
}

@media only screen and (min-width: 968px){
  /* ================================ WEB ======================================== */

  textarea{
    width: 500px;
  }
}
