<div class="divProduit">
  <a routerLink="/detailsProduit/{{produit?.id_produit}}">
    <aside class="asideProduit">
      <img src="{{produit?.image}}" alt="image">
      <div class="detailProduit">
        <h3>{{produit?.nom}}</h3>
        <aside class="flex">
          <label for="">Description:</label>
          <p>{{produit?.description}}</p>
        </aside>
        <aside class="flex ">
          <h3 id="cout" >Coût:</h3>
          <h3>{{produit?.cout|number:'1.2-2'}}$</h3>
        </aside>

      </div>


    </aside>
  </a>

  <div class="flex">
    <button class="coeur" (click)="erase()"><img src="assets/image/coeurNoir.png" alt="favori" ></button>
    <button class="ajoutPanier" (click)="addProduitPanier()"><img src="assets/image/ajoutPanier.png" alt=""></button>
  </div>

</div>
<hr>


