<h1 class="titreWeb">Votre panier</h1>
<hr>

<div class="titreMobile">
  <h1>Votre panier</h1>
  <hr>
</div>

<div *ngIf="(produits$ && produits$.length > 0)">
  <span *ngFor="let produit of produits$">
    <app-produit-panier [produit]="produit" (removeProduct)="removeProduct($event)" (changeQuantity)="changeQuantity($event)" (changeFormatSelected)="formatChange($event)"></app-produit-panier>
  </span>
  <div id="coutWeb">
    <aside class="flex">
      <h2 id="coutSansTaxes" class="prixNom">Coût sans taxes:</h2>
      <h2 class="prix">{{this.coutAvantTaxes | number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex">
      <h2 id="tps" class="prixNom">TPS:</h2>
      <h2 class="prix">{{this.tps| number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex">
      <h2 id="tvq" class="prixNom">TVQ:</h2>
      <h2 class="prix">{{this.tvq| number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex" >
      <aside *ngIf="length>0" id="asideAutresTaxes">
        <h2>Autres taxes:</h2>
        <ul>
          <li class="flex" *ngFor="let tax of aggregatedTaxes | keyvalue">
            <h2 class="autresTaxesTitre">{{ tax.key }}: </h2>
            <h2 class="autreTaxesCout">{{ tax.value | number:'1.2-2' }}$</h2>
          </li>
        </ul>
      </aside>

    </aside>
    <aside class="flex">
      <h2 id="coutTotal" class="prixNom">Coût total:</h2>
      <h2 class="prix">{{this.coutTotal| number:'1.2-2'}}$</h2>
    </aside>


  </div>






  <a routerLink="/paiement"><button class="boutonPaiement">Procéder au paiement</button></a>

  <div class="divCout">
    <aside class="flex">
      <h2 class="coutSansTaxes" class="prixNom">Coût sans taxes:</h2>
      <h2 class="prix">{{this.coutAvantTaxes | number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex">
      <h2 class="tps" class="prixNom">TPS:</h2>
      <h2 class="prix">{{this.tps| number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex">
      <h2 class="tvq" class="prixNom">TVQ:</h2>
      <h2 class="prix">{{this.tvq| number:'1.2-2'}}$</h2>
    </aside>
    <aside class="flex" >
      <aside *ngIf="length>0" id="asideAutresTaxes">
        <h2>Autres taxes:</h2>
        <ul>
          <li class="flex" *ngFor="let tax of aggregatedTaxes | keyvalue">
            <h2 class="autresTaxesTitre">{{ tax.key }}: </h2>
            <h2 class="autreTaxesCout">{{ tax.value | number:'1.2-2' }}$</h2>
          </li>
        </ul>
      </aside>

    </aside>
    <aside class="flex">
      <h2 class="coutTotal" class="prixNom">Coût total:</h2>
      <h2 class="prix">{{this.coutTotal| number:'1.2-2'}}$</h2>
    </aside>
    <a routerLink="/paiement"><button class="boutonPaiementMobile">Procéder au paiement</button></a>

  </div>



</div>

<div *ngIf="!(produits$ && produits$.length > 0)">
  <h1>Le panier est vide!</h1>
</div>
