
<div class = "toast-container" *ngIf="showToast" [ngClass]="{
  success: toastType == 'success',
  error: toastType == 'error',
  warn: toastType == 'warn',
  info: toastType == 'info',

  'top-left': toastPosition == 'top-left',
  'top-right': toastPosition == 'top-right',
  'top-center': toastPosition == 'top-center',
  'bottom-left': toastPosition == 'bottom-left',
  'bottom-right': toastPosition == 'bottom-right',
  'bottom-center': toastPosition == 'bottom-center'

}">
  <span class="closeToast" (click)="closeToast()">X</span>
  <div class = "toast-content">
    <span class="iconToast" *ngIf="toastType == 'success'">✓</span>
    <span class="iconToast" *ngIf="toastType == 'error'">X</span>
    <span class="iconToast" *ngIf="toastType == 'warn'">!</span>
    <span class="iconToast" *ngIf="toastType == 'info'">i</span>
    <span>{{ toastMsg }}</span>
  </div>
</div>

<app-navbar></app-navbar>
<router-outlet (activate)="onActive()"></router-outlet>
<app-footer></app-footer>

