<h2>Votre liste de souhait</h2>
<h1>Votre liste de souhait</h1>

<div *ngIf="produits$ && produits$.length > 0">

  <hr class="ligneWeb">
  <hr class="ligneMobile">
  <span *ngFor="let produit of produits$">
    <app-produit-liste-souhait [produit]="produit" (removeProduct)="removeProduct($event)" ></app-produit-liste-souhait>
  </span>

  <button (click)="ajouterListePanier()">Ajouter la liste de souhait au panier</button>
</div>

<div *ngIf="!(produits$ && produits$.length > 0)">
  <h1>Votre liste de souhait est vide! <br>Cliquez sur les coeurs à côté des produits pour les rajouter ici!</h1>
  <h2>Votre liste de souhait est vide! <br>Cliquez sur les coeurs à côté des produits pour les rajouter ici!</h2>
</div>


