h1{
  text-align: center;
  margin-top:10%;
}

h2{
  text-align: right;
  margin:1rem;
  margin-right:24rem;
}

#coutSansTaxes{
  margin-top:10%;
}

button{
  height:4rem;
  width:14rem;
  position:absolute;
  right:6rem;
  top:26rem;
  font-family: "ADLaMDisplay";
  font-size: large;
  margin-bottom: 10%;
}


