<div ngmodel #produitaffiche class="divProduit">
  <aside class="asideProduit">
    <img src="" alt="image">
    <div>
      <a routerLink="/detailsProduit/{{produit?.id_produit}}"><h3>{{produit?.nom}}</h3></a>



      <aside class="flex">
        <label for="">Quantité:</label>
        <input type="number" class="selectQuantite" value="{{produit?.quantite}}" (change)="changeProductQuantity()"  #quantiteProduit>
      </aside>

      <aside class="flex" *ngFor="let formatType of produit?.formatDict|keyvalue">
        <label #formatTypeLabel for="">{{formatType.key}}:</label>
        <select name="selectGrandeur" class="selectQuantite" #changeFormatSelected  (change)="changeProductFormatSelected(changeFormatSelected.value, formatType.key)">
          <ng-container *ngFor="let format of formatType.value">
            <option [value]="format.Format"  >{{format.Format}}</option>
          </ng-container>
        </select>
      </aside>

    </div>
    <button class="supprimer" (click)="erase()">X</button>
  </aside>
  <aside class="flex center max-width" *ngIf="produit">
    <h2 id="cout">Coût:</h2>
    <h2>{{ produit.cout * (produit.quantite || 0) |number:"1.2-2"}}$</h2>
  </aside>
</div>
<hr>


