<div ngmodel #produitaffiche class="divProduit">
  <aside class="asideProduit">
    <img src="" alt="image">
    <div>
      <h3>{{produit?.nom}}</h3>
      <aside class="flex">
        <label for="">Description:</label>
        <p>{{produit?.description}}</p>
      </aside>


      <aside class="flex">
        <label for="">Quantité:</label>
        <input type="number" class="selectQuantite" value="{{produit?.quantite}}" (change)="changeProductQuantity()" ngModel #quantiteProduit>
      </aside>
      <aside class="flex" *ngFor="let formatType of produit?.format">
        <label #formatTypeLabel for="">{{formatType.nom}}:</label>
        <select name="selectGrandeur" class="selectQuantite" #changeFormatSelected ngModel (change)="changeProductFormatSelected(changeFormatSelected.value, formatTypeLabel.innerText)">
          <ng-container *ngFor="let format of formatType.format">
            <option [value]="format"  [selected]="format === formatType.format_selected">{{format}}</option>
          </ng-container>
        </select>
      </aside>

    </div>
    <button class="supprimer" (click)="erase()">X</button>
  </aside>
  <aside class="flex center max-width" *ngIf="produit">
    <h2 id="cout">Coût:</h2>
    <h2>{{ produit.cout * (produit.quantite || 0) |number:"1.2-2"}}$</h2>
  </aside>
</div>
<hr>


