

    <div class="flex conteneur">
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" (click)="ajoutLS()"  alt="coeur vide" class = "hide">
        <a routerLink="/detailsProduit/{{prod?.id}}"><img *ngFor="let img of prod?.image; let i = index" [src]="'../assets/image/' + img + '.png'" alt="image produit" class="imgProd" [class.hidden]="i !== currentIndex"></a>
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" (click)="ajoutPanier()" class="iconePanier">
        <a routerLink="/detailsProduit/{{prod?.id}}"><p>{{prod?.nom}}</p></a>
        <p>{{prod?.prix}}$</p>
      </div>

    </div>



