<section>
    <div class="divTitreCat">
    <h3>Nos thés chaï</h3>
    </div>

    <div class="flex">
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod1.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod2.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod3.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod1.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod2.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
    </div>



    <div class="divTitreCat">
      <h3>Notre marchandises</h3>
    </div>


    <div class="flex">
      <div class="listeProduits">
        <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "hide">
        <img src="../assets/image/img temp/prod3.png" alt="image produit" class="imgProd">
        <img src="../assets/image/ajoutPanier.png" alt="icone panier" class="iconePanier">
        <p>Nom Produit</p>
        <p>00.0$</p>
      </div>
    </div>

</section>


