<section >
  <h2>Produits phares et nouveauté</h2>

  <div class="produitPhareAccueil">
    <span>
      <img src="../assets/image/img temp/prod1.png" alt="produit 1">
      <p>Produit 1</p>
      <p>Prix : 111,11</p>
    </span>

    <span>
      <img src="../assets/image/img temp/prod2.png" alt="produit 2">
      <p>Produit 2</p>
      <p>Prix : 222,22</p>
    </span>

    <span>
      <img src="../assets/image/img temp/prod3.png" alt="produit 3">
      <p>Produit 3</p>
      <p>Prix : 333,33</p>
    </span>
  </div>
</section>
