<div class="divProduit">
  <aside class="asideProduit">
    <img src="" alt="image">
    <div>
      <h3>Nom produit</h3>
      <aside class="flex">
        <label for="">Description:</label>
        <p>ownowgogoi</p>
      </aside>


      <aside class="flex">
        <label for="">Quantité:</label>
        <select  name="selectQuantite" class="selectQuantite">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </aside>
      <aside class="flex">
        <label for="">Grandeur:</label>
        <select  name="selectGrandeur" class="selectQuantite">
          <option value="1">XS</option>
          <option value="2">S</option>
          <option value="3">M</option>
          <option value="4">L</option>
          <option value="5">XL</option>
        </select>
      </aside>
    </div>
    <button class="supprimer">X</button>
  </aside>
  <aside class="flex center max-width">
    <h2 id="cout" >Coût:</h2>
    <h2>X</h2>
  </aside>

</div>
<hr>


