<div class="mobile">
  <button #filtreButton ngModel class="filtreButton" (click)="toggleButton()">Filtrer <img src="assets/image/filtre.png" alt=""></button>
  <aside #filtreForm ngModel class="filtreForm hide">

    <h3>Filtres </h3>

    <div class="filtre">
      <label for="">Produit acheté</label>
      <input type="text" name="" id="" #filterProduitMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()" >
    </div>
    <div class="filtre">
      <label for=""># de commande</label>
      <input type="number" name="" id="" #filterNumeroMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
    </div>
    <div class="filtre">
      <label for="">État de la commande</label>
      <select name="" id="" #filterEtatMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
        <option value="tout">Tout</option>
        <option value="fini">Terminé</option>
        <option value="en_cours">En cours</option>
        <option value="erreur">Erreur</option>
      </select>
    </div>
    <div class="filtre">
      <label for="">Date Création</label>
      <input type="date" name="" id="" #filterDateMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
    </div>


  </aside>
  <div *ngIf="filteredCommandes && filteredCommandes.length > 0">
    <h3>Historique de commandes</h3>
    <hr>
    <aside *ngFor="let commande of filteredCommandes">
      <app-commandes-liste-commandes [commande]="commande"></app-commandes-liste-commandes>
    </aside>
  </div>
  <div *ngIf="!(filteredCommandes && filteredCommandes.length > 0)">
      <h1>C'est vide!</h1>
  </div>



</div>

<div class="web">
  <h1>Historique de commandes</h1>
  <hr>
  <div class="flex">
    <aside class="filtreFormWeb">
      <h2>Filtres </h2>

      <div class="filtre">
        <label for="">Produit acheté</label>
        <input type="text" name="" id="" #filterProduit (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
      </div>
      <div class="filtre">
        <label for=""># de commande</label>
        <input type="number" name="" id="" #filterNumero (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
      </div>
      <div class="filtre">
        <label for="">État de la commande</label>
        <select name="" id="" #filterEtat (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
          <option value="tout" selected>Tout</option>
          <option value="fini">Terminé</option>
          <option value="en_cours">En cours</option>
          <option value="erreur">Erreur</option>
        </select>
      </div>
      <div class="filtre">
        <label for="">Date Création</label>
        <input type="date" name="" id="" #filterDate (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
      </div>


    </aside>
    <aside class="listeCommandes" *ngIf="filteredCommandes && filteredCommandes.length > 0">

      <aside *ngFor="let commande of filteredCommandes">
        <app-commandes-liste-commandes [commande]="commande"></app-commandes-liste-commandes>
      </aside>
    </aside>
    <aside class="listeCommandes" *ngIf="!(filteredCommandes && filteredCommandes.length > 0)">
      <h1>C'est vide!</h1>

    </aside>
  </div>



</div>
