<section class="sectionCompteClient">
  <div  class="form-box" class="form-box">
      <form [formGroup]="modCompteClntForm">
        <h2 class="title">Information sur le compte</h2>

        <span class="nomClient">
          <input formControlName="prenom" type="text"  value="{{ client.prenom }}" required>
          <small *ngIf="modCompteClntForm.controls['prenom'].dirty && modCompteClntForm.hasError('required', 'prenom')" class="errorSignup prenom">*Le Prénom n'est pas valide!</small>

          <input formControlName="nom" type="text"  value="{{client.nom}}"  required>
          <small *ngIf="modCompteClntForm.controls['nom'].dirty && modCompteClntForm.hasError('required', 'nom')" class="errorSignup nom">*Le nom n'est pas valide!</small>

        </span>

        <div class="infoD">
          <p>Date de naissance : </p>
          <input formControlName="date" type="date" value="{{ client.naissance }}" required>
          <small *ngIf="modCompteClntForm.controls['date'].dirty && modCompteClntForm.hasError('required', 'date')" class="errorSignup">*La date de naissance n'est pas valide!</small>
          <small *ngIf="modCompteClntForm.controls['date'].dirty && modCompteClntForm.hasError('pattern', 'date')" class="errorSignup">*La date de naissance doit être une date valide!</small>
        </div>



        <div class="infoC">
          <p>Courriel : </p>
          <input formControlName="courriel" type="text" value="{{ client.courriel }}" required>
          <small *ngIf="modCompteClntForm.controls['courriel'].dirty && modCompteClntForm.hasError('required', 'courriel')" class="errorSignup">*Le Courriel n'est pas valide!</small>
          <small *ngIf="modCompteClntForm.controls['courriel'].dirty && modCompteClntForm.hasError('pattern', 'courriel')" class="errorSignup">*Le Courriel n'est pas valide!</small>
        </div>

        <div class="infoC">
          <p>Nouveau mot de passe : </p>
          <span (click)="hideShowPass()" class="fa eye-slash {{eyeIcon}}"></span>
          <input formControlName="password" [type]="passType" placeholder="Nouveau mot de passe" required>
          <small *ngIf="modCompteClntForm.controls['password'].dirty && modCompteClntForm.hasError('required', 'password')" class="errorSignup mdp">*Le mot de passe n'est pas valide!</small>
          <small *ngIf="modCompteClntForm.controls['password'].dirty && modCompteClntForm.hasError('pattern', 'password')" class="errorSignup mdp">*Le mot de passe ne correspond pas au minimum demander</small>

          <div class="mdpMin">
            <p>Le mot de passe doit contenir :</p>
            <p>- 8 caractères de long</p>
            <p>- Une lettre, un chiffre</p>
            <p>- Un caractère spéciale (!"/$?&*)</p>
          </div>
        </div>


        <div class="infoC">
          <p>Vérification mot de passe</p>
          <span (click)="hideShowPassV()" class="fa eye-slash {{eyeIconV}}"></span>
          <input formControlName="validation" [type]="passTypeV" placeholder="Nouveau mot de passe" required>
          <small *ngIf="modCompteClntForm.controls['validation'].dirty && modCompteClntForm.hasError('required', 'validation')" class="errorSignup">*La validation de mot de passe n'est pas valide!</small>
          <small *ngIf="modCompteClntForm.hasError('mismatch')" class="errorSignup">*Les mots de passe ne correspondent pas!</small>
        </div>



        <div class="mdpActu">
          <p>Mot de passe actuel*</p>
          <span (click)="hideShowPassA()" class="fa eye-slash {{eyeIconA}}"></span>
          <input formControlName="validationActuel" [type]="passTypeA" placeholder="Mot de passe actuel" required>
          <div class="mdpActuP">
            <p>*Pour enregistrer des modification à votre compte veuillez entrer votre mot de passe actuel.</p>
          </div>
        </div>


        <span class="btn">
          <button (click)="onChange()" type="submit" class="log-btn">Enregistrer les modifications</button>
          <button (click)="annuler()" type="submit" class="log-btn">Annuler les modifications</button>
        </span>

      </form>
    </div>
</section>

