<section class="sectionCompteClient">
  <div class="form-box">
      <form>
        <h2 class="title">Information sur le compte</h2>

        <span class="nomClient">
          <input type="text" value="ET Appel">
          <input type="text" value="Maison">
        </span>

        <div class="infoD">
          <p>Date de naissance : </p>
          <input type="date" value="2023-01-10">
        </div>

        <span>
          <p class="add">Adresse principale : </p>
          <div class="adresse">
            <span class="rue">
              <input type="text" value="123 rue Chien">
              <p>, Apt </p>
              <input type="text" value="1">
            </span>

            <input type="text" value="Sherbrooke">
            <input type="text" value="Québec">
            <input type="text" value="j3r 9d2">
          </div>
        </span>

        <div class="infoC">
          <p>Courriel : </p>
          <input type="text" value="Billie@bidon.com">
        </div>

        <div class="infoC">
          <p>Nouveau mot de passe : </p>
          <input type="text" placeholder="Nouveau mot de passe">
        </div>

        <div class="infoC">
          <p>Vérification mot de passe</p>
          <input type="text" placeholder="Nouveau mot de passe">
          <div class="mdpMin">
            <p>Le mot de passe doit contenir :</p>
            <p>- 8 caractères de long</p>
            <p>- Une lettre, un chiffre</p>
            <p>- Un caractère spéciale (!"/$?&*)</p>
          </div>
        </div>

        <div class="mdpActu">
          <p>Mot de passe actuel*</p>
          <input type="text" placeholder="Mot de passe atuel">
        </div>


        <span class="btn">
          <button type="submit" class="log-btn">Enregistrer les modifications</button>
          <button type="submit" class="log-btn">Annuler les modifications</button>
        </span>

      </form>
    </div>
</section>

