<section class="sectionCompteClient">
  <div  *ngFor="let clnt of client" class="form-box" class="form-box">
      <form>
        <h2 class="title">Information sur le compte</h2>

        <span class="nomClient">
          <input type="text" value="{{ clnt.prenom }}">
          <input type="text" value="{{ clnt.nom }}">
        </span>

        <div class="infoD">
          <p>Date de naissance : </p>
          <input type="date" value="{{ clnt.naissance }}">
        </div>

        <span>
          <p class="add">Adresse principale : </p>
          <div class="adresse">
            <span class="rue">
              <input type="text" value="{{ clnt.civic }}">
              <p> </p>
              <input type="text" value="{{ clnt.rue }}">
              <p>, Apt </p>
              <input type="text" value="{{ clnt.apt }}">
            </span>

            <input type="text" value="{{ clnt.ville }}">
            <input type="text" value="{{ clnt.province }}">
            <input type="text" value="{{ clnt.codePostal }}">
          </div>
        </span>

        <div class="infoC">
          <p>Courriel : </p>
          <input type="text" value="{{ clnt.courriel }}">
        </div>

        <div class="infoC">
          <p>Nouveau mot de passe : </p>
          <input type="text" placeholder="Nouveau mot de passe">
        </div>

        <div class="infoC">
          <p>Vérification mot de passe</p>
          <input type="text" placeholder="Nouveau mot de passe">
          <div class="mdpMin">
            <p>Le mot de passe doit contenir :</p>
            <p>- 8 caractères de long</p>
            <p>- Une lettre, un chiffre</p>
            <p>- Un caractère spéciale (!"/$?&*)</p>
          </div>
        </div>

        <div class="mdpActu">
          <p>Mot de passe actuel*</p>
          <input type="text" placeholder="Mot de passe atuel">
        </div>


        <span class="btn">
          <button type="submit" class="log-btn">Enregistrer les modifications</button>
          <button type="submit" class="log-btn">Annuler les modifications</button>
        </span>

      </form>
    </div>
</section>

