
/* ================================ MOBILE ======================================== */

.compagnieCollab{

  border-bottom: 3px black solid;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-right: 0.5em;
  h2{
    font-size: 20px;
    margin-top: 2em;
  }
}

.collab{
  margin-left: 2em;
  margin-right: 2em;
}

.teteCollab{
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  img{
    width: 40%;
    height:100px;
    border-radius: 100%;
  }

  h3{
    margin-top: 2em;
    font-size: 18px;
    margin-bottom: 1em;
    font-size: large;
  }

  .entete{
    margin-left: 2em;
    display: flex;
    flex-direction: column;


  }

  .lienCollab{

    align-items: center;
    margin-left: 1.5em;
    img{
      width: 15%;

    }


  }

  #lienProduits{
    display: block;
    font-size: 14px;
    margin-left: 0em;
    color: black;
    margin-top: 1em;


  }
  #nbrProduit{
    display: block;
    margin-top:10%;
  }
}

.texteCollab{
 text-align: justify;
 padding-bottom: 1em;
 margin-bottom: 1em;
 font-size: x-large;
}

#collab_FB{
  width:15%;
}

p, #lienProduits{
  font-size: small;
}


@media only screen and (min-width: 968px){
  /* ================================ WEB ======================================== */

  .compagnieCollab{

    h2{
      font-size: 30px;
    }
  }


  .teteCollab{


    #lienProduits{
      font-size: x-large;
    }

    img{
      width: 25%;
    }

    h3{
      font-size: xx-large;
      margin-bottom: 1.5em;
    }

    .lienCollab{
      a{
        img{
          max-width: 8%;
          margin-bottom: 1.5em;
        }
      }

    }

    .collab_FB{
      max-width: 8%;
    }

    .lienProduits{
      font-size: 17px;
      margin-left: 1.5em;
    }
  }

  #image_coll{
    aspect-ratio: 1;
    height:18em;
  }

  section{
    margin-bottom:5%;
  }

  p,a{
    font-size: x-large;
  }



}


