<section>

  <div class="compagnieCollab">
    <h2>Nos collaborateurs Indépendants</h2>
  </div>

  <div class="collab">
    <div class="teteCollab">
      <img src="../assets/image/img temp/collab1.png" alt="collab 1">
      <div>
        <h3>ET Nom Collab</h3>
        <div class="lienCollab">
          <a href="#"><img src="../assets/image/facebook.png" alt="facebook" class="collab_FB"></a>
          <a href="#"><img src="../assets/image/instagram.png" alt="instagram" class="collab_IG"></a>
        </div>
        <a href="#" class="lienProduits">Voir ces produits</a>
      </div>
    </div>

    <div class="texteCollab">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Ultricies leo integer malesuada nunc vel risus
        commodo viverra maecenas. Nisl vel pretium lectus quam id leo in vitae. Morbi enim nunc faucibus a. Diam ut venenatis tellus
        in metus vulputate. Arcu dictum varius duis at consectetur. Lorem ipsum dolor sit amet consectetur adipiscing. Eleifend quam
        adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
    </div>
  </div>

  <div class="collab">
    <div class="teteCollab">
      <img src="../assets/image/img temp/collab1.png" alt="collab 1">
      <div>
        <h3>ET Nom Collab</h3>
        <div class="lienCollab">
          <a href="#"><img src="../assets/image/facebook.png" alt="facebook" class="collab_FB"></a>
          <a href="#"><img src="../assets/image/instagram.png" alt="instagram" class="collab_IG"></a>
        </div>
        <a href="#" class="lienProduits">Voir ces produits</a>
      </div>
    </div>

    <div class="texteCollab">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Ultricies leo integer malesuada nunc vel risus
        commodo viverra maecenas. Nisl vel pretium lectus quam id leo in vitae. Morbi enim nunc faucibus a. Diam ut venenatis tellus
        in metus vulputate. Arcu dictum varius duis at consectetur. Lorem ipsum dolor sit amet consectetur adipiscing. Eleifend quam
        adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
    </div>
  </div>

    <div class="compagnieCollab">
      <h2>Nos collaborateurs Indépendants</h2>
    </div>


  <div class="collab">
    <div class="teteCollab">
      <img src="../assets/image/img temp/collab1.png" alt="collab 1">
      <div>
        <h3>ET Nom Collab</h3>
        <div class="lienCollab">
          <a href="#"><img src="../assets/image/facebook.png" alt="facebook" class="collab_FB"></a>
          <a href="#"><img src="../assets/image/instagram.png" alt="instagram" class="collab_IG"></a>
        </div>
        <a href="#" class="lienProduits">Voir ces produits</a>
      </div>
    </div>

    <div class="texteCollab">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Ultricies leo integer malesuada nunc vel risus
        commodo viverra maecenas. Nisl vel pretium lectus quam id leo in vitae. Morbi enim nunc faucibus a. Diam ut venenatis tellus
        in metus vulputate. Arcu dictum varius duis at consectetur. Lorem ipsum dolor sit amet consectetur adipiscing. Eleifend quam
        adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
    </div>
  </div>
</section>
