
/* ================================ MOBILE ======================================== */

.compagnieCollab{

  border-bottom: 3px black solid;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-right: 0.5em;
  h2{
    font-size: 20px;
    margin-top: 2em;
  }
}

.collab{
  margin-left: 2em;
  margin-right: 2em;
}

.teteCollab{
  display: flex;
  margin-bottom: 2em;

  img{
    width: 40%;
    border-radius: 100%;
  }

  h3{
    margin-left: 1em;
    margin-top: 2em;
    font-size: 18px;
    margin-bottom: 0.8em;
  }

  .lienCollab{
    margin-left: 3em;
    margin-bottom: 0.8em;
    img{
      width: 15%;
      margin-right: 0.5em;
    }
  }

  .lienProduits{
    font-size: 14px;
    color: black;
    margin-left: 1.8em;
  }
}

.texteCollab{
 text-align: justify;
 padding-bottom: 1em;
 margin-bottom: 1em;
}


@media only screen and (min-width: 968px){
  /* ================================ WEB ======================================== */

  .compagnieCollab{

    h2{
      font-size: 30px;
    }
  }


  .teteCollab{

    img{
      width: 25%;
    }

    h3{
      font-size: 25px;
      margin-bottom: 1.5em;
    }

    .lienCollab{

      img{
        width: 8%;
        margin-bottom: 1.5em;
      }
    }

    .lienProduits{
      font-size: 17px;
      margin-left: 2.5em;
    }
  }
}


