<section>

  <div class="collab">
    <div class="teteCollab">
      <img [src]="image" alt="collab 1" id="image_coll">
      <div class="entete">
        <h3>{{collab?.prenom}} {{collab?.nom}}</h3>

        <div class="texteCollab">
          <p>{{collab?.description}}</p>
          <p id="nbrProduit">Nbr de produits: {{nbrProduit}}</p>
          <a *ngIf="nbrProduit>0" routerLink="/listeProduits/{{collab?.id}}" id="lienProduits">Voir ses produits</a>
        </div>

      </div>
    </div>


    <div *ngFor="let socialLink of collab?.socialLinks" class="lienCollab">
      <a href="{{ socialLink.Liens }}" target="_blank">
        <img [src]="'https://apilechai.azurewebsites.net/GetImage/imagesAutres/'+socialLink.ReseauxSociauxNom+'.png'" alt="facebook" id="collab_FB"></a>
    </div>
  </div>
</section>
