<h3>Passer la commande</h3>
<hr>
<div>
  <h4>Adresse d'expédition</h4>
  <hr>
  <div class="colonnes">
    <aside class="livraison">
      <label for="">Prénom:</label>
      <input type="text" [(ngModel)]="prenom">
    </aside>
    <aside class="livraison">
      <label for="">Nom:</label>
      <input type="text" [(ngModel)]="nom">
    </aside>
    <aside class="livraison">
      <label for=""># Civique:</label>
      <input placeholder="Ex:84" type="text" [(ngModel)]="no_civique">
    </aside>
    <aside class="livraison">
      <label for="">Rue:</label>
      <input placeholder="Ex:Rue King-Est" type="text" [(ngModel)]="rue">
    </aside>

    <aside class="livraison">
      <label for="">Ville:</label>
      <select name="" id="" #villeChoisie>
        <ng-container *ngFor="let ville of villeDeservie | keyvalue">
          <option [value]="ville.key">{{ville.value}}</option>
        </ng-container>
      </select>
    </aside>
    <aside class="livraison">
      <label for="">Code Postal:</label>
      <input placeholder="Ex:J1H4E8" type="text" [(ngModel)]="code_postal">
    </aside>
  </div>

  <h4 class="marginTop">Code promotionnel:</h4>
  <hr>
  <aside class="livraison">
    <label class="code" for="">Code: <i>*Laisser vide si vous n'avez pas de code</i></label>
    <input placeholder="Ex: 1234-5678" type="text" [(ngModel)]="promotion">
  </aside>
  <h4 class="marginTop">Article(s) expédié(s)</h4>
  <hr>
  <span  *ngFor="let produit of produits$" class="livraison">
    <p>{{produit.nom}} X{{produit.quantite}}: {{produit.coutProduit*produit.quantite|number:'1.2-2'}}$</p>

    <!--<aside class="flex" *ngFor="let format of produit?.format">
    <p class="format">-{{format.nom}}:{{format.format_selected}}</p>
    </aside>-->
  </span>
  <h4 class="marginTop">Coût</h4>
  <hr>
  <aside>
    <label for="">Avant taxes:</label>
    <p>{{coutAvantTaxes|number:'1.2-2'}}$</p>
  </aside>
  <aside>
    <label for="">TPS:</label>
    <p>{{tps|number:'1.2-2'}}$</p>
  </aside>
  <aside>
    <label for="">TVQ:</label>
    <p>{{tvq|number:'1.2-2'}}$</p>
  </aside>
  <aside class="flex-column">
    <label for="">Autres taxes:</label>
    <ul>
      <li class="autresTaxes flex" *ngFor="let tax of aggregatedTaxes | keyvalue">
        <label class="autresTaxes">{{ tax.key }}: </label>
        <p class="autresTaxesCout">{{ tax.value | number:'1.2-2' }}$</p>
      </li>
    </ul>
  </aside>
  <aside *ngIf="rabais>0">
    <label for="">Rabais:</label>
    <p>{{rabais}}</p>
  </aside>
  <aside>
    <label for="">Total:</label>
    <p>{{coutTotal|number:'1.2-2'}}$</p>
  </aside>

  <button (click)="onCheckout()">Effectuer paiement avec Stripe</button>
</div>



