<h3>Passer la commande</h3>
<hr>
<div>
  <h4>Adresse d'expédition</h4>
  <hr>
  <div class="colonnes">
    <aside class="livraison">
      <label for="">Prénom:</label>
      <input type="text">
    </aside>
    <aside class="livraison">
      <label for="">Nom:</label>
      <input type="text">
    </aside>
    <aside class="livraison">
      <label for=""># Civique:</label>
      <input placeholder="Ex:84" type="text">
    </aside>
    <aside class="livraison">
      <label for="">Rue:</label>
      <input placeholder="Ex:Rue King-Est" type="text">
    </aside>
    <aside class="livraison">
      <label for="">Ville:</label>
      <input placeholder="Ex:Sherbrooke" type="text">
    </aside>
    <aside class="livraison">
      <label for="">Province/Territoire:</label>
      <select name="" id="">
        <option value="alberta">Alberta</option>
        <option value="cb">Colombie-Britannique</option>
        <option value="ipe">Île-du-Prince-Édouard</option>
        <option value="manitoba">Manitoba</option>
        <option value="nb">Nouveau-Brunswick</option>
        <option value="ne">Nouvelle-Écosse</option>
        <option value="nunavut">Nunavut</option>
        <option value="ontario">Ontario</option>
        <option value="quebec" selected>Québec</option>
        <option value="sk">Saskatchewan</option>
        <option value="tno">Territoires du Nord-Ouest</option>
        <option value="yukon">Yukon</option>
      </select>
    </aside>
    <aside class="livraison">
      <label for="">Code Postal:</label>
      <input placeholder="Ex:J1H4E8" type="text">
    </aside>
  </div>

  <h4 class="marginTop">Code promotionnel:</h4>
  <hr>
  <aside class="livraison">
    <label class="code" for="">Code: <i>*Laisser vide si vous n'avez pas de code</i></label>
    <input placeholder="Ex: 1234-5678" type="text">
  </aside>
  <h4 class="marginTop">Article(s) expédié(s)</h4>
  <hr>
  <span *ngFor="let produit of produits$" class="livraison">
    <p>{{produit.nom}} X{{produit.quantite}}</p>
  </span>
  <h4 class="marginTop">Coût</h4>
  <hr>
  <aside>
    <label for="">Avant taxes:</label>
    <p>{{coutAvantTaxes|number:'1.2-2'}}$</p>
  </aside>
  <aside>
    <label for="">TPS:</label>
    <p>{{tps|number:'1.2-2'}}$</p>
  </aside>
  <aside>
    <label for="">TVQ:</label>
    <p>{{tvq|number:'1.2-2'}}$</p>
  </aside>
  <aside>
    <label for="">Autres taxes:</label>
    <ul>
      <li *ngFor="let tax of aggregatedTaxes | keyvalue">
        <h3>{{ tax.key }}: {{ tax.value | number:'1.2-2' }}</h3>
      </li>
    </ul>
  </aside>
  <aside>
    <label for="">Rabais:</label>
    <p>X</p>
  </aside>
  <aside>
    <label for="">Total:</label>
    <p>{{coutTotal|number:'1.2-2'}}$</p>
  </aside>

  <button (click)="onCheckout()">Effectuer paiement avec Stripe</button>
</div>



