<!-- <section>
  <div>
    <img src="../assets/image/fleche_gauche.svg" alt="fleche carousel gauche" id="gauche_carousel">
    <img src="../assets/image/img temp/carousel1.png" alt="image carousel temporaire" class="img_collab">

    <div>
      <h3>ET Appel Maison</h3>
      <p>Description qui affiche seulement tant de caractères  shkfjdshjkhskjhkjdshkjfdhkjfkjhdsfjkfdhdsfkhsdjkhfs...</p>
      <a href="#">Plus d'informatio sur ET</a>
    </div>

    <div>
      <p>lien vers les réseaux sociaux</p>
      <a href="#"><img src="../assets/image/facebook.png" alt="facebook"></a>
      <a href="#"><img src="../assets/image/instagram.png" alt="instagram"></a>
      <a href="#">Voir les produits de ET</a>
    </div>
  </div>
</section> -->
