<div class="divProduit">
  <aside class="asideProduit">
    <img src="{{produit?.image}}" alt="image">
    <div class="infosProduit">
      <h3><a routerLink="/detailsProduit/{{produit?.id_produit}}">{{produit?.nom}}</a></h3>
      <aside class="flex">
        <label for="">Quantité:</label>
        <p>{{produit?.quantite}}</p>
      </aside>
      <aside *ngFor="let typeFormat of produit?.format">

        <aside class="flex">
          <label for="">{{typeFormat.TypeFormat}}:</label>
          <p>{{typeFormat.format_selected}}</p>
        </aside>
      </aside>

      <aside class="flex ">
        <h3 id="cout" >Coût:</h3>
        <h3>{{produit?.cout|number:'1.2-2'}}$</h3>
      </aside>

    </div>


  </aside>


</div>
<hr>


