.partieMobile{
  display:block;
}
.partieWeb{
  display: none;
}


h3{
  width:75%;
  margin-top:10%;
  margin-left: 7%;
  +hr{
    width:80%;
    margin-left: 7%;
    margin-bottom: 3%;
  }
}

.infoMobile{
  width:70%;
  margin-left:12%
}

.flex{
  display:flex;
  flex-direction: row;
  label{
    width:50%;
  }
}

h4{
  margin-top:10%;
}

.message{
  text-align: center;
}

@media only screen and (min-width: 968px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .partieMobile{
    display:none;
  }
  .partieWeb{
    display: block;
  }
  h1{
    width:80%;
    margin-left: 10%;
    margin-top:3%;
    text-align: center;
    +hr{
     margin-bottom:5%;
     width:35%;
     margin-left:32.5%;
    }
  }

  .infoWeb{
    width:70%;
    margin-left:15%;
  }

  .flex{
    display:flex;
    flex-direction: row;
    label{
      font-size: larger;
      width:25%;
    }
    p{
      font-size: larger;
    }
  }

  h2{
    margin-top:5%;
  }

  h3{
    width:75%;
    margin-top:0%;
    margin-left:0%;

  }
}


