<section>
  <div class="mobile">
    <button #filtreButton ngModel class="filtreButton" (click)="toggleButton()">Filtrer <img src="assets/image/filtre.png" alt=""></button>
    <aside #filtreForm ngModel class="filtreForm hide">

      <h3>Filtres </h3>

      <div class="filtre">
        <label for="nomC">Nom du collaborateur</label>
        <input type="text" name="nomC" id="nomC">
      </div>
      <div class="filtre">
        <label for="categorieP">Compagnie du collaborateur</label>
        <select name="categorieP" id="categorieP">
          <option value="fini">Indépendant</option>
        </select>
      </div>
      <div class="filtre">
        <label for="categorieP">Produit de ce collaborateur</label>
        <select name="categorieP" id="categorieP">
          <option value="fini">Prod 1</option>
          <option value="fini">Prod 2</option>
          <option value="fini">Prod 3</option>
        </select>
      </div>


    </aside>
    <app-liste-collaborateurs></app-liste-collaborateurs>

  </div>

  <div class="web">
    <div class="flex">
      <aside class="filtreFormWeb">
        <h2>Filtres </h2>

        <div class="filtre">
          <label for="nomC">Nom du collaborateur</label>
          <input type="text" name="nomC" id="nomC">
        </div>
        <div class="filtre">
          <label for="categorieP">Compagnie du collaborateur</label>
          <select name="categorieP" id="categorieP">
            <option value="fini">Indépendant</option>
          </select>
        </div>
        <div class="filtre">
          <label for="categorieP">Produit de ce collaborateur</label>
          <select name="categorieP" id="categorieP">
            <option value="fini">Prod 1</option>
            <option value="fini">Prod 2</option>
            <option value="fini">Prod 3</option>
          </select>
        </div>


      </aside>
      <aside class="listeCommandes">

        <app-liste-collaborateurs></app-liste-collaborateurs>
      </aside>
    </div>



  </div>
</section>


