<section>
  <div class="mobile">
    <button #filtreButton ngModel class="filtreButton" (click)="toggleButton()">Filtrer <img [src]="'https://apilechai.azurewebsites.net/GetImage/imagesAutres/filtre.png'" alt=""></button>
    <aside #filtreForm ngModel class="filtreForm hide">

      <h3>Filtres </h3>

      <div class="filtre">
        <label for="nomC">Nom du collaborateur</label>
        <input type="text" name="nomC" id="nomC" #filterNomMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()" >
      </div>
      <div class="filtre" >
        <label for="compagnie">Compagnie du collaborateur</label>
        <select #filterCompagnieMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
          <option value="0">Toutes les compagnie</option>
          <option *ngFor="let compagnie of compagnies" [value]="compagnie.id">{{ compagnie.nom }}</option>
        </select>
      </div>
    </aside>


    <div *ngIf="filteredCollabs && filteredCollabs.length > 0" class="collab">
      <h2>Nos collaborateurs</h2>

      <div *ngFor="let compagnie of compagnies" >
        <div class="compagnieCollab">
          <h3 *ngIf="belongsToCompagnie(compagnie.id)">{{ compagnie.nom }}</h3>
        </div>

        <aside *ngFor="let collab of filteredCollabs">
          <aside *ngIf="collab.compagnie == compagnie.id" >
            <app-liste-collaborateurs [collab]="collab"></app-liste-collaborateurs>
          </aside>
        </aside>
      </div>
    </div>
    <div *ngIf="!(filteredCollabs && filteredCollabs.length > 0)" class="aucunFiltre">
        <h1>Aucun collaborateurs ne correspond à votre recherche</h1>
    </div>
  </div>

  <div class="web">
    <div class="flex">
      <aside class="filtreFormWeb" #filtreWeb ngModel>
        <h2>Filtres </h2>

        <div class="filtre">
          <label for="nomC">Nom du collaborateur</label>
          <input type="text" name="nomC" id="nomC" #filterNom (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
        </div>
        <div class="filtre">
          <label for="compagnie">Compagnie du collaborateur</label>
          <select #filterCompagnie (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
            <option value="0">Toutes les compagnie</option>
            <option *ngFor="let compagnie of compagnies" [value]="compagnie.id">{{ compagnie.nom }}</option>
          </select>
        </div>


      </aside>
      <aside class="listeCommandes" *ngIf="filteredCollabs && filteredCollabs.length > 0">
        <h2>Nos collaborateurs</h2>

        <div *ngFor="let compagnie of compagnies" class=" container_carousel_collab compagnieCollab">
          <div class="compagnieBar">
            <h3 *ngIf="belongsToCompagnie(compagnie.id)">{{ compagnie.nom }}</h3>
          </div>

        <aside *ngFor="let collab of filteredCollabs">
          <aside *ngIf="collab.compagnie == compagnie.id">
            <app-liste-collaborateurs [collab]="collab"></app-liste-collaborateurs>
          </aside>
        </aside>
      </div>
      </aside>
      <aside *ngIf="!(filteredCollabs && filteredCollabs.length > 0)" class="aucunFiltre">
          <h1>Aucun collaborateurs ne correspond à votre recherche</h1>
      </aside>
    </div>



  </div>
</section>


