<div class="partieMobile">
  <h3>Information commande #</h3>
<hr>
<div class="infoMobile">
  <h4>Produit(s) acheté(s)</h4>
  <hr>
  <app-produit-commande-detail></app-produit-commande-detail>
  <h4>Date création de la commande:</h4>
  <hr>
  <h5>XX-XX-XXXX</h5>
  <h4>Prix:</h4>
  <hr>
  <aside class="flex">
    <label>Avant taxes:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>TPS:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>TVQ:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>Autres taxes:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>Total</label><p>X</p>
  </aside>

  <h4>État de la commandes:</h4>
  <hr>
  <h5>X</h5>
  <h4 class="message">Veuillez nous contacter <a href="">ici</a> pour<br>toutes questions concernant vos commandes</h4>

</div>



</div>

<div class="partieWeb">
  <h1>Information commande #</h1>
<hr>
<div class="infoWeb">
  <h2>Produit(s) acheté(s)</h2>
  <hr>
  <app-produit-commande-detail></app-produit-commande-detail>
  <h2>Date création de la commande:</h2>
  <hr>
  <h3>XX-XX-XXXX</h3>
  <h2>Prix:</h2>
  <hr>
  <aside class="flex">
    <label>Avant taxes:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>TPS:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>TVQ:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>Autres taxes:</label><p>X</p>
  </aside>
  <aside class="flex">
    <label>Total</label><p>X</p>
  </aside>

  <h2>État de la commande:</h2>
  <hr>
  <h3>X</h3>
  <h2 class="message">Veuillez nous contacter <a href="">ici</a> pour<br>toutes questions concernant vos commandes</h2>

</div>



</div>

