<section class="loginSection">
  <div class="log-form-box">
    <div class="log-form-value">
      <form>
        <h2 class="log-title">Se connecter</h2>

        <div class="log-inputbox">
          <input formControlName="courriel" placeholder="Courriel" type="email" class="log-input" required>
        </div>
        <!-- <small *ngIf="loginForm.controls['courriel'].dirty && loginForm.hasError('required', 'courriel')" class="errorLogin">*Le Courriel n'est pas valide!</small> -->

        <div class="log-inputbox">
          <span (click)="hideShowPass()" class="fa eye-slash {{eyeIcon}}"></span>
          <input formControlName="password" placeholder="Mot de passe" [type]="passType" class="log-input" required>
        </div>
        <!-- <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="errorLogin">*Le mot de passe n'est pas valide!</small> -->

        <div class="log-forget">
            <a class="log-forget-a" href="#">Mot de passe oublier</a>
        </div>

        <button type="submit" class="log-btn">Se connecter</button>

        <div class="log-register">
          <p class="log-register-p">Vous n'avez pas de compte? <a class="log-register-a" routerLink="/inscription">S'inscrire ici</a></p>
        </div>
      </form>
    </div>
  </div>
</section>


<!-- [disabled]="loginForm.invalid" -->

