<section *ngIf="produitAafficher">
  <div class="titreProd">
    <!--<img *ngIf="produitAafficher?.icon" [src]="'../assets/image/' + produitAafficher.icon" alt="icon produit" class="icone chai">-->
    <h2>{{produitAafficher.nom}}</h2>
  </div>

  <div class="contenuProd">
    <div  class="container_carousel">
      <img (click)="onLeftArrowClick()" src="../assets/image/fleche_gauche.svg" alt="fleche carousel gauche" class="gauche_carousel">
      <img *ngFor="let img of produitAafficher.image; let i = index" [src]="'../assets/image/' + img + '.png'" alt="image produit" class="img_carousel" [class.hidden]="i !== currentIndex">
      <img (click)="onRightArrowClick()" src="../assets/image/fleche_droite.svg" alt="fleche carousel droite" class="droite_carousel">
    </div>

    <span (click)="addWishList()" class="spanSouhait">
      <i class="fa heart {{heartIcon}}"></i>
      <p>Ajouter à la liste de souhait</p>
    </span>

    <div class="webRight">
      <span>
        <p>Prix :</p>
        <p>{{produitAafficher.prix}}$</p>
      </span>
      <span *ngIf="produitAafficher?.quantite">
        <p>Quantité restante:</p>
        <p>{{produitAafficher.quantite}}</p>
      </span>
      <span >
        <p>Quantité:</p>
        <input type="number" name="quantite" id="quantite" value="1"  [(ngModel)]="selectedQuantite">
      </span>
      <span *ngFor="let format of formats|keyvalue">
        <p>{{format.key}} :</p>
        <select aria-label="Sélectionnez une couleur" [(ngModel)]="selectedFormats[format.key]">
          <option *ngFor="let nom of format.value" [value]="nom.FormatID">{{ nom.Format }}</option>
        </select>
      </span>




      <div *ngIf="produitAafficher?.ingrediant" class="descProd">
        <p>Ingrédiants :</p>
        <p>{{produitAafficher.ingrediant}}</p>
      </div>
      <div *ngIf="produitAafficher?.description" class="descProd">
        <p>{{produitAafficher.description}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="produitAafficher?.video" class="videoProd">
    <video width="auto" height="auto" controls="controls">
      <source [src]='produitAafficher.video'/>
    </video>
  </div>

  <div class="btnProd">

    <button (click)="addPanier()" type="button">Ajouter au panier</button>
  </div>


</section>



