<section>
  <div class="titreProd">
    <img src="../assets/image/img temp/pepper.svg" alt="pepper icon" class="icone chai">
    <h2>Nom du produit</h2>
  </div>

  <div class="contenuProd">
    <img src="../assets/image/img temp/prod1.png" alt="image produit" class="imgProd">
    <span class="spanSouhait">
      <img src="../assets/image/coeur_vide.svg" alt="coeur vide" class = "souhait">
      <p>Ajouter à la liste de souhait</p>
    </span>

    <div class="webRight">
      <span>
        <p>Prix :</p>
        <p>00.0$</p>
      </span>
      <span>
        <p>Quantité :</p>
        <p>200g / pot</p>
      </span>
      <div class="descProd">
        <p>Ingrédiants :</p>
        <p>Thé noir, cannelle, mouscade, cardamome, gingembre, anis etoiler, clou de girofle, piment cayenne, sucre</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Ultricies leo integer malesuada nunc vel risus
          commodo viverra maecenas. Nisl vel pretium lectus quam id leo in vitae. Morbi enim nunc faucibus a. Diam ut venenatis tellus
          in metus vulputate. Arcu dictum varius duis at consectetur. Lorem ipsum dolor sit amet consectetur adipiscing. Eleifend quam
          adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
      </div>
    </div>
  </div>

  <div class="btnProd">
    <button type="button">Acheter maintenant!</button>
    <button type="button">Ajouter au panier</button>
  </div>


</section>



