<section class="sectionCompteClient">
  <div  class="form-box">
      <form>
        <h2 class="title">Information sur le compte</h2>

        <span class="nomClient" >
          <h3>{{ client.prenom }}</h3>
          <h3>{{ client.nom }}</h3>
        </span>

        <div class="infoD">
          <p>Date de naissance : </p>
          <p> {{ client.naissance }}</p>
        </div>

        <div class="infoC">
          <p>Courriel : </p>
          <p>{{ client.courriel }}</p>
        </div>

        <span class="adresse">
          <p>Adresse principale : </p>
          <div>
            <p> {{ client.civic + " " + client.rue }}, Apt {{ client.apt }}</p>
            <p>{{ client.ville }}, {{ client.province }}</p>
            <p>{{ client.codePostal }}</p>
          </div>
        </span>

        <span class="btn">
          <button type="submit" class="log-btn" routerLink="/commandes">Voir l'historique de commandes</button>
          <button type="submit" class="log-btn"  routerLink="/modifierCompteClient">Modifier le compte</button>
        </span>

      </form>
    </div>
</section>


<!-- [disabled]="loginForm.invalid" -->


