<section class="loginSection">
  <div class="log-form-box">
    <div class="log-form-value">
      <form>
        <h2 class="log-title">Inscription</h2>

        <div class="log-inputbox">
          <input formControlName="prenom" placeholder="Prénom" type="text" class="log-input" required>
        </div>
       <!--  <small *ngIf="signupForm.controls['prenom'].dirty && signupForm.hasError('required', 'prenom')" class="errorSignup">*Le Prénom n'est pas valide!</small> -->

        <div class="log-inputbox">
          <input formControlName="nom" placeholder="Nom" type="text" class="log-input" required>
        </div>
        <!-- <small *ngIf="signupForm.controls['nom'].dirty && signupForm.hasError('required', 'nom')" class="errorSignup">*Le nom n'est pas valide!</small>
 -->
        <div class="infoD">
          <p>Date de naissance : </p>
          <input type="date">
        </div>

        <div class="log-inputbox">
          <input formControlName="courriel" placeholder="Courriel" type="email" class="log-input" required>
        </div>
        <!-- <small *ngIf="signupForm.controls['courriel'].dirty && signupForm.hasError('required', 'courriel')" class="errorSignup">*Le Courriel n'est pas valide!</small> -->

        <div class="log-inputbox">
          <span (click)="hideShowPass()" class="fa eye-slash {{eyeIcon}}"></span>
          <input formControlName="password" placeholder="Mot de passe" [type]="passType" class="log-input" required>
        </div>

        <div class="log-inputbox">
          <span (click)="hideShowPass()" class="fa eye-slash {{eyeIcon}}"></span>
          <input formControlName="password" placeholder="Mot de passe" [type]="passType" class="log-input" required>
        </div>
        <!-- <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="errorSignup">*Le Mot de passe n'est pas valide!</small> -->

        <button type="submit" class="log-btn">S'inscrire</button>

        <div class="log-register">
          <p class="log-register-p">Vous avez déjà un compte? <a class="log-register-a" routerLink="/accueil">Connectez-vous ici</a></p>
        </div>
      </form>
    </div>
  </div>
</section>

