

<div>
  <img src="assets/image/devany chai (1).png" id="titre" alt="Titre">

  <a href="" id="connexion">Se connecter</a>

  <ul id="menu_haut">

    <li>
      <a href=""><img src="assets/image/cercle_compte.png" alt="compte"></a>
    </li>
    <li>
      <a href=""><img src="assets/image/liste_souhait.png" alt="souhait"></a>
    </li>
    <li>
      <a href=""><img src="assets/image/panier.png" alt="panier"></a>
    </li>

  </ul>
  <button>
    <img src="assets/image/burgerMenu.png" alt="buger">
  </button>

</div>
<ul id="menuMobile">
  <li>
    <a href="">Nos Produits</a>
  </li>
  <li>
    <a href="">Promotions en cours</a>
  </li>
  <li>
    <a href="">Collaborateurs</a>
  </li>
  <li>
    <a href="">Nous rejoindre</a>
  </li>
  <li>
    <a href="">Liste de Souhait</a>
  </li>
  <li>
    <a href="">Votre compte</a>
  </li>
  <li>
    <a href="">Se connecter</a>
  </li>
</ul>
<div id="cercle">
  <a href="">
    <img id="logo"src="assets/image/logo.png" alt="logo">
  </a>


</div>

<nav>
  <ul>
    <li>Nos Produit</li>
    <li>Promotions</li>
    <li>Collaborateurs</li>
    <li>Nous joindre</li>
  </ul>
</nav>
