
  <div class="mobile">
    <button #filtreButton ngModel class="filtreButton" (click)="toggleButton()">Filtrer <img src="assets/image/filtre.png" alt=""></button>
    <aside #filtreForm ngModel class="filtreForm hide">

      <h3>Filtres </h3>

      <div class="filtre">
        <label for="nomP">Nom du produit</label>
        <input type="text" name="nomP" id="nomP" #filterNomMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
      </div>

      <div class="filtre">
        <label for="categorieP">Ctégorie du produit</label>
        <select name="categorieP" id="categorieP" #filterCategorieMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
          <option value="0">Toutes les compagnie</option>
          <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
        </select>
      </div>

     <!--  <div class="filtre">
        <label for="prixP">Prix</label>
        <span class="filtrePrix">
          <input type="text" name="prixP" id="prixPmin" placeholder="min" #filterPrixMinMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
          <input type="text" name="prixP" id="prixPmax" placeholder="max" #filterPrixMaxMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
        </span>
      </div> -->

    </aside>
  </div>

    <div *ngIf="filteredProduit && filteredProduit.length > 0">

      <div *ngFor="let categorie of categories" class="divTitreCat">
        <div class="divTitreCatB">
          <h2 *ngIf="belongsToCategorie(categorie.id)">{{ categorie.nom }}</h2>
        </div>

        <div class="flex">
          <div  class="listeProduits" *ngFor="let prod of filteredProduit">
            <aside >
              <app-liste-de-produits [prod]="prod"></app-liste-de-produits>
            </aside>
          </div>
        </div>

      </div>

      <div *ngIf="!(filteredProduit && filteredProduit.length > 0)" class="aucunFiltre">
        <h1>Aucun produit ne correspond à votre recherche</h1>
      </div>
    </div>


  <div class="web">
    <div class="flexFiltre">
      <aside class="filtreFormWeb">
        <h2>Filtres </h2>

        <div class="filtre">
          <label for="nomP">Nom du produit</label>
          <input type="text" name="nomP" id="nomP" #filterNom (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
        </div>

        <div class="filtre">

          <label for="categorieP">Catégorie du produit</label>

          <select name="categorieP" id="categorieP" #filterCategorie (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
            <option value="0">Toutes les compagnie</option>
            <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
          </select>

        </div>

        <!-- <div class="filtre">
          <label for="prixP">Prix</label>

          <span class="filtrePrix">
            <input type="number" name="prixP" id="prixPminWeb" placeholder="min" #filterPrixMin (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
            <input type="number" name="prixP" id="prixPmaxWeb" placeholder="max" #filterPrixMax (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
          </span>

        </div> -->

      </aside>


      <aside *ngIf="filteredProduit && filteredProduit.length > 0" class="listeCommandes">

          <div *ngFor="let categorie of categories" class="divTitreCat">
            <h2 *ngIf="belongsToCategorie(categorie.id)">{{ categorie.nom }}</h2>

            <div class="flex">
              <aside class="listeProduits" *ngFor="let prod of filteredProduit">
                <aside >
                <app-liste-de-produits [prod]="prod"></app-liste-de-produits>
                </aside>
              </aside>
            </div>
          </div>

          <div *ngIf="!(filteredProduit && filteredProduit.length > 0)" class="aucunFiltre">
            <h1>Aucun produit ne correspond à votre recherche</h1>
          </div>

      </aside>



  </div>


