
  <div class="mobile">
    <button #filtreButton ngModel class="filtreButton" (click)="toggleButton()">Filtrer <img src="assets/image/filtre.png" alt=""></button>
    <aside #filtreForm ngModel class="filtreForm hide">

      <h3>Filtres </h3>

      <div class="filtre">
        <label for="nomP">Nom du produit</label>
        <input type="text" name="nomP" id="nomP" #filterNomMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
      </div>

      <div class="filtre">
        <label for="categorieP">Catégorie du produit</label>
        <select name="categorieP" id="categorieP" #filterCategorieMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
          <option value="tout">Toutes les catégorie</option>
          <option *ngFor="let categorie of categories" [value]="categorie.nom">{{ categorie.nom }}</option>
        </select>
      </div>

     <!--  <div class="filtre">
        <label for="prixP">Prix</label>
        <span class="filtrePrix">
          <input type="text" name="prixP" id="prixPmin" placeholder="min" #filterPrixMinMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
          <input type="text" name="prixP" id="prixPmax" placeholder="max" #filterPrixMaxMobile (input)="applyChangeToFormWeb()" (input)="applyAllFilters()">
        </span>
      </div> -->

    </aside>

    <div *ngFor="let categorie of filteredCat" class="divTitreCat">
      <aside *ngIf="filteredCategoryList[categorie].length>0">
        <h2 class="categoryName" >{{ categorie}}</h2>



        <aside class="row">
          <aside *ngFor="let prod of filteredCategoryList[categorie]" class="conteneur">
            <app-liste-de-produits [prod]="prod"></app-liste-de-produits>
          </aside>
        </aside>
      </aside>

    </div>
    <div *ngIf="isEmpty">
      <h2 class="vide">C'est vide!</h2>
    </div>

  </div>


  <div class="web">
    <div class="flex ">
      <aside class="filtreFormWeb">
        <h2>Filtres </h2>

        <div class="filtre">
          <label for="nomP">Nom du produit</label>
          <input type="text" name="nomP" id="nomP" #filterNom (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
        </div>

        <div class="filtre">

          <label for="categorieP">Catégorie du produit</label>

          <select name="categorieP" id="categorieP" #filterCategorie (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
            <option value="tout">Toutes les catégorie</option>
            <option *ngFor="let categorie of categories" [value]="categorie.nom">{{ categorie.nom }}</option>
          </select>

        </div>

        <!-- <div class="filtre">
          <label for="prixP">Prix</label>

          <span class="filtrePrix">
            <input type="number" name="prixP" id="prixPminWeb" placeholder="min" #filterPrixMin (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
            <input type="number" name="prixP" id="prixPmaxWeb" placeholder="max" #filterPrixMax (input)="applyChangeToForMobile()" (input)="applyAllFilters()">
          </span>

        </div> -->

      </aside>
      <aside class="conteneurCategorie">
        <div *ngFor="let categorie of filteredCat" class="divTitreCat">
          <aside *ngIf="filteredCategoryList[categorie].length>0">
            <h2 class="categoryName" >{{ categorie}}</h2>


            <aside class="row">
              <aside *ngFor="let prod of filteredCategoryList[categorie]" class="conteneur">
                <app-liste-de-produits [prod]="prod"></app-liste-de-produits>
              </aside>
            </aside>
          </aside>

        </div>
        <div *ngIf="isEmpty">
          <h2 class="vide">C'est vide!</h2>
        </div>
      </aside>



    </div>
  </div>


