// COLORS
$footerCouleur:#CCD256;


*{
  box-sizing: border-box;
  margin:0;
  padding: 0%;
}

.absolute{
  position:absolute;
  bottom:0

}
.sticky{
  position:sticky;
  bottom:-22%;
}



footer{
  margin-top:5%;
  background-color: $footerCouleur;

  width:100%;


  .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
  }

  span{
    width:100%;
    p:first-of-type{
      margin-left: 10em;
      margin-right: 10em;
      padding-bottom: 1em;
      border-bottom: 1px solid black;
    }

    .liens{
      display:flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 1em;
      margin-bottom: 1em;
      a{
        width: 10%;
      }


      img{

        width: 80%;
      }
    }
  }

}




@media only screen and (min-width: 968px) {
  /* For desktop: */

  footer{
  margin-top:5%;
  background-color: $footerCouleur;

  width:100%;

  }

  .footer-container{
    width: 100%;

    span{
      p:first-of-type{
        margin-left: 20em;
        margin-right: 20em;
      }
    }

    .liens{
      a{
        max-width: 5%;
      }


      img{

        width: 100%;
      }
    }
  }

}


